{% if uniqueid_hasauthentications == FALSE %}
    <div>
        <div class="alert alert-danger" role="alert">
            {{ 'You don\'t have any authentication methods configured. <a href="@check_auth_url_return" class="button">Please configure one.</a>' | t({'@check_auth_url_return': check_auth_url_return }) }}
        </div>
    </div>
{% else %}
    <div>
        <div id="app" data-counter="{{ counter }}"></div>
    </div>
    <div>
        <p>Code: <b>{{ code }}</b></p>
    </div>
    <div>
        <a href="{{ check_auth_url_return }}" class="button">{{ 'Local verification'|t }}</a>
    </div>
    <div>
        <a href="javascript:void(0)" id="remote_verification_button" class="button">{{ 'Remote verification'|t }}</a>
        <div id="remote_verification_code" style="display: none;">
            {{ qrcode_data|raw }}<br>
            <a href="?redirect=back">{{ 'Remote verification done'|t }}</a>
        </div>
    </div>
{% endif %}
